# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode

# Ignore fresh build directory
_fresh/

# Needed after tailwind migration
node_modules/
